@use '@/styles/scss/base/variables' as *;
// .responsive .slick-slide:not(:last-child) {
//   padding-right: 0.5rem;
// }

.slick-dots {
  bottom: 10px;

  li {
    margin: 0 4px;

    button {
      width: 8px;
      height: 8px;
      padding: 0;
      border-radius: 50%;
      background: $gray-50;
      border: none;

      &:before {
        content: '';
        display: none; // Hapus default pseudo-element
      }
    }

    &.slick-active button {
      background: $primary; // Gaya saat aktif
      width: 10px;
      height: 10px;
    }
  }
}
