@use '@/styles/scss/base/variables' as *;

.ST--arrow {
  i {
    color: $primary !important;
    font-size: $font-size-xl !important;
  }

  &--next {
    right: -5px;
    top: 40.7%;
  }

  &--prev {
    left: -5px;
    top: 40.7%;
  }

  &--disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.slick-prev {
  @extend .ST--arrow--prev;
}

.slick-next {
  @extend .ST--arrow--next;
}

.slick-disabled {
  @extend .ST--arrow--disabled;
}
