.ST--wrapper__navbar {
  position: fixed;
  top: 72px; // 84px;
  right: 0;
  z-index: 1;
  padding: 10px 4.4rem; // default desktop padding
  transition: all 0.2s linear;

  @media (min-width: 1441px) {
    padding: 10px 39.5rem;
  }

  @media (max-width: 1024px) {
    padding: 10px 2.8rem;
  }

  @media (max-width: 768px) {
    padding: 10px 2.2rem;
  }

  @media (max-width: 480px) {
    padding: 10px 0.8rem;
  }
}
