@use '@/styles/scss/base/variables' as *;

.ST--preview__wrapper {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  .control-arrow {
    &.control-prev::before {
      border-right: 8px solid $primary;
    }

    &.control-next::before {
      border-left: 8px solid $primary;
    }
  }

  .thumb {
    &:hover {
      border: 3px solid $primary;
    }

    &.selected {
      border: 3px solid $primary;
    }
  }
}
