@use '@/styles/scss/base/variables' as *;

.ST--card-body {
  @media (max-width: 480px) {
    min-height: auto;
  }
}

// -----------------------------------
// Badge (Super Featured / Premium etc.)
// -----------------------------------
.ST__badge {
  position: absolute;
  top: 8px;
  left: -5px;
  padding: 4px 8px;
  border-radius: 2px 2px 2px 0;
  display: flex;
  gap: 4px;
  align-items: center;
  color: $text-light;
  font-size: 0.75rem;
  font-weight: 600;

  &::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: -4px;
    left: 0;
    background-color: inherit;
    border-radius: 0 0 0 100%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    top: 3px;
    right: -8px;
    background-color: inherit;
    border-radius: 2px;
    transform: rotate(45deg);
  }

  span {
    position: relative;
    z-index: 1;
    color: $text-light;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (max-width: 1024px) {
}

.ST--properti-card-body {
  h3 {
    font-size: clamp($font-size-base, $vw-sm, $font-size-lg);
  }
}
