/* Global */
@use '../base/variables' as *;

html,
body {
  scroll-behavior: smooth; /* Optional kalau ingin global smooth */
  height: 100%;
  font-family: $font-family-body;
  margin-bottom: 0 !important;
  color: $text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}

.button,
.btn {
  font-family: $font-family-heading;
}

@mixin ST-link {
  text-decoration: none !important;
}
@mixin ST-link-hover {
  color: darken($primary, 100%) !important;
  transition: color 0.2s ease !important;
}
a {
  @include ST-link;
  &:hover {
    @include ST-link-hover;
  }
}
.a-hover {
  &:hover {
    color: $primary !important;
  }
}
